
body{
	margin: 0;
	padding: 0;
}














h1{
	font-size: 6.29vw;
	top: 0px;

	margin-top: -7px;
	margin-bottom: -7px;
	transform: scaleY(0.85);
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	line-height: 0.9;
	text-align: center;

}






.textcontainer1{
	border: 2.5px solid black;
	width: 63%;
	margin-top: -1;
	fill: white;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-bottom: 0.2vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	

}




p1{
	font-size: 1.2vw;
	text-align: justify;
	text-justify: inter-word;


}



.topsection1{
	position: fixed;
	top: 0.5vh;
	font-family: sans-serif;
	fill: white;
	z-index: 1;
	align-content: center;
	width: 99vw;
	background: white;
	padding-bottom:8px;
	left: 0.5vw;
	border-bottom: 2.5px solid black;


}



.topsection1container{
	width: 100%;
	background: white;

}


.imagecontainer{
	border: 2.5px solid black;
	margin-left: .4vw;
	height: 10.5vh

}


#theater{
	height: 100%;
	width: 100%;

}
	

#scrollcontainer{
	transform: scaleX(1.275);
	transform-origin: left;
	border: 2.5px solid black;
	margin-left: .4vw;
	height: 10.5vh


}


#scroll{
	height: 100%;
	width: 100%;

}



















.playlists{
	top: 28vh;
	bottom: 22vh;
	left: 5vw;
	right: 5vw;
	width: 90vw;
	height: 50vh;
	position: fixed;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 1.2vw;
	z-index: 2;
	padding-top: 2vh;
	padding-bottom: 2vh;
	opacity: 0;
	  
	
}


.playlists:hover{
	opacity: 1;
	transition-duration: 2s;
}


.song{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2.5px solid black;
	padding: 1vh;


}


.song:hover{
	background-color: white;

}




.down-triangle{
	margin-top: 1vh;
	border-left: 2.5vh solid transparent;
	border-right: 2.5vh solid transparent;
	border-top: 2vh solid black;

}



.down-triangle:hover{
	border-top: 2vh solid white;
}



.btn {
    cursor: pointer;
    background-color: transparent;
    border: none;

}




#button1{
	margin-left: 1vh;
	border-left: 1vh solid transparent;
	border-right: 1vh solid transparent;
	border-top: 1.5vh solid black;
	transform: rotate(-90deg);
	height: auto;
	width: auto;
}













.videocontainer1{
	position: fixed;
	bottom: 0.75vh;
	top: 0.5vh;
	width: 99vw;
	height: auto;
	z-index: -1;
	overflow: hidden;
	left: 0.5vw;
	outline: 2.5px solid black;
	outline-offset: -0.2vw;
}



#video1{
	width: 100%;
	
}




.horizontalcontainer{
	display: flex;
	flex-direction: row;
}

























